		body{
			background-color: pink;
		}
		h1{
			font-size: 30px;
			color: red;
		}
		h2{font-size: 15px;
			color:blue;}
		.big{
			font-size:60px;
		}
		.uppercase{
			color:green;
		}
		h1 span{
			color:purple;
		}